:root {
    --purple: #6C589A;
    --background: #F0F0F0;
    --yellow: #f5cd3d;
    --logo: url("/assets/mobelkillarna-logo.png");
    --shadow: 0px 3px 6px #0000004D;
    --transition: 200ms all ease-in-out;
    --font: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: var(--background);
}

.center-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

.alerts {
    position: fixed;
    color: #646464;
    bottom: 0;
    width: 20%;
    right: 0;
    margin: 1em;
}

.alert-after {
    position: absolute;
    right: -25px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transform: rotateZ(45deg);
    box-shadow: var(--shadow);
    z-index: -1;
    transition: 200ms all ease-in-out;
}

.alert i {
    transition: 200ms all ease-in-out;
}

.alert i:hover {
    cursor: pointer;
    color: lightgrey;
}

.are-you-sure {
    margin: 1em;
    text-align: center;
}

.are-you-sure h3 {
    color: #646464;
}

.are-you-sure p {
    color: #5D5D5D;
    padding: 1em;
}

.are-you-sure button {
    padding: 1em;
    background: var(--purple);
    color: white;
    border: none;
    box-shadow: var(--shadow);
    margin: 0 1em;
    transition: 200ms all ease-in-out;
}

.are-you-sure button:hover {
    background: var(--yellow);
    cursor: pointer;
}

.custom-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-backdrop {
    background: #000;
}

#modal {
    z-index: 9999999;
}

.modal.fade.in {
    top: 45% !important;
}